{% extends "Main/Views/layout.html.twig" %}

{% block content %}

	<form action="http://localhost/php/Rhodium/web/index_dev.php/checkout" method="post">
		
		<label for="total">Total</label>

		<input type="number" name="total">

		<br>

		<label for="currency">Currency</label>

		<input type="text" name="currency">

		<br>

		<label for="products">Products</label>

		<input type="text" name="products">
		
		<br>
	
		<input type="submit" name="submit">

	</form>

{% endblock %}