{% extends "layout.html.twig" %}

{% block content %}
	
	<h2>{{ param1 }} {{ param2 }}</h2>

	<p>That Hello world was set dynamically from your HomeController.</p>

	<p><i>/src/Controllers/HomeController.php</i></p>

	<hr>

	
	
{% endblock %}