<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap-responsive.css" />
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap.css" />
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/style.css" />
            <title>{% block title %}{% endblock %} - Rhodium</title>
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <h1><a class="pull-left" href="#" name="">Rh.</a></h1>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#">Controllers</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#">Models</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#">Views</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#">Helpers</a></li>
                    <li class="divider-vertical"></li>
                </ul>
                    <div class="btn-group pull-right">
                        <a class="btn dropdown-toggle" href="http://www.github.com/EwanValentine/Rhodium.git">
                            <i class="icon-user"></i> Github
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="icon-wrench"></i> Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="icon-share"></i> Logout</a></li>
                        </ul>
                        </div>
                    </div>
                    <!--/.nav-collapse -->
                </div>
                <!--/.container-fluid -->
            </div>
            <!--/.navbar-inner -->
        </div>
        <!--/.navbar -->
        <div class="container" id="container">
            <h1>Rh.</h1>
            <p><i>It's elemental...</i></p>
            {% block content %}{% endblock %}
        </div>
    
        <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div id="footer">
                {% block footer %}
                    &copy; Copyright 2013 by <a href="http://ewanvalentine.co.uk/">Ewan Valentine</a>.
                {% endblock %}
            </div>
        </nav>
    </body>
</html>