<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap-responsive.css" />
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap.css" />
            <title>{% block title %}{% endblock %} - PushOn</title>
        {% endblock %}
    </head>
    <body>
        <div id="container">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2013 by <a href="http://ewanvalentine.co.uk/">Ewan Valentine</a>.
            {% endblock %}
        </div>
    </body>
</html>